@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --primary-color: #FF6600;
    --secondary-color: #A9A9A9;
    --background-color: #000000;
    --text-color: #F8F8FF;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0 10%;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

pre {
    font-family: 'Inconsolata', monospace;
    line-height: 1.0;
}

html {
    font-size: 1.5em;
}

@media (max-width: 1200px) {
    html {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 1.1em;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 1em;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-container {
    text-align: center;
    margin: 1em 0;
}

figcaption {
    font-size: 0.9em;
    color: var(--secondary-color);
    margin-top: 0.5em;
}

@media (max-width: 1200px) {
    figcaption {
        font-size: 0.78em;
    }
}

@media (max-width: 768px) {
    figcaption {
        font-size: 0.66em;
    }
}

@media (max-width: 576px) {
    figcaption {
        font-size: 0.6em;
    }
}

p {
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 1em 0 0.5em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
